<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        caption {color:black;font-size:16px}
        thead {color:black;font-size:16px;background-color:yellowgreen}
        tbody {color:black;font-size:16px;background-color:yellowgreen}
        tfoot {color:black}
        p {color:black;font-size:16px}
    </style>
</head>
<body>
<div id="email">
    <div class="table">
        <table width="800" border="1" bordercolor="black" cellspacing="0" cellpadding="5" bgcolor="white">
            <caption><strong>xxxxxx</strong></caption>
            <thead>
            <tr>
                <th><strong>xxx</strong></th>
                <th><strong>xxx</strong></th>
                <th><strong>xxx</strong></th>
                <th><strong>xxx</strong></th>
                <th><strong>xxx</strong></th>
                <th><strong>xxx</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td align="center">{{ xxx }}</td>
                <td align="center">{{ xxx }}</td>
                <td align="center">{{ xxx }}</td>
                <td align="center">{{ xxx }}</td>
                <td align="center">{{ xxx }}</td>
                <td align="center">{{ xxx }}</td>
            </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
    <p><strong>请及时处理，并回复邮件，谢谢配合！如有任何问题请及时邮件联系或xxxxxxxxx。</strong></p>
</div>
</body>
</html>